.react-datetimerange-picker__wrapper {
  border: 0;
  border-bottom: 1px solid;
}

.react-datetimerange-picker__range-divider {
  line-height: 25px;
}

.react-datetimerange-picker__clock {
  border-radius: 5px;
}

.react-calendar {
  border-radius: 5px;
}
